{"openapi":"3.1.0","info":{"title":"deployment-controller","version":"1.2"},"servers":[{"url":"https://facetsdemo.console.facets.cloud/"}],"components":{"securitySchemes":{"sec0":{"type":"http","scheme":"basic"}}},"security":[{"sec0":[]}],"paths":{"/cc-ui/v1/clusters/{clusterId}/deployments/release":{"put":{"summary":"Trigger a Release","description":"This page documents the API endpoint to Trigger a Release","operationId":"trigger-a-release","parameters":[{"name":"clusterId","in":"path","description":"clusterId","schema":{"type":"string"},"required":true},{"name":"forceRelease","in":"query","schema":{"type":"boolean","default":false}},{"name":"withRefresh","in":"query","schema":{"type":"boolean","default":true}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"appDeployments\": [\n    {\n      \"appName\": \"string\",\n      \"artifact\": {\n        \"applicationName\": \"string\",\n        \"artifactUri\": \"string\",\n        \"artifactory\": \"string\",\n        \"buildDescription\": \"string\",\n        \"buildId\": \"string\",\n        \"clusterId\": \"string\",\n        \"createdBy\": \"string\",\n        \"createdOn\": \"2022-06-27T10:56:00.265Z\",\n        \"creationDate\": \"2022-06-27T10:56:00.265Z\",\n        \"id\": \"string\",\n        \"lastModifiedBy\": \"string\",\n        \"lastModifiedDate\": \"2022-06-27T10:56:00.265Z\",\n        \"numberOfVersions\": 0,\n        \"promoted\": true,\n        \"releaseStream\": \"QA\",\n        \"releaseType\": \"HOTFIX\",\n        \"versioningKey\": \"string\"\n      }\n    }\n  ],\n  \"changesApplied\": [\n    {\n      \"resourceKey\": \"string\",\n      \"resourcePath\": \"string\",\n      \"type\": \"Destruction\"\n    }\n  ],\n  \"codebuildId\": \"string\",\n  \"createdOn\": \"2022-06-27T10:56:00.265Z\",\n  \"deploymentContextVersion\": \"string\",\n  \"deploymentJobType\": \"CODEBUILD\",\n  \"deploymentType\": \"REGULAR\",\n  \"description\": \"string\",\n  \"destroy\": true,\n  \"errorLogs\": [\n    \"string\"\n  ],\n  \"finishedOn\": \"2022-06-27T10:56:00.265Z\",\n  \"id\": \"string\",\n  \"integrationTest\": true,\n  \"overrideBuildSteps\": [\n    \"string\"\n  ],\n  \"releaseType\": \"HOTFIX\",\n  \"signedOff\": true,\n  \"stackVersion\": \"string\",\n  \"status\": \"SUCCEEDED\",\n  \"tfVersion\": \"string\",\n  \"triggeredBy\": \"string\",\n  \"withRefresh\": true\n}"}},"schema":{"type":"object","properties":{"appDeployments":{"type":"array","items":{"type":"object","properties":{"appName":{"type":"string","example":"string"},"artifact":{"type":"object","properties":{"applicationName":{"type":"string","example":"string"},"artifactUri":{"type":"string","example":"string"},"artifactory":{"type":"string","example":"string"},"buildDescription":{"type":"string","example":"string"},"buildId":{"type":"string","example":"string"},"clusterId":{"type":"string","example":"string"},"createdBy":{"type":"string","example":"string"},"createdOn":{"type":"string","example":"2022-06-27T10:56:00.265Z"},"creationDate":{"type":"string","example":"2022-06-27T10:56:00.265Z"},"id":{"type":"string","example":"string"},"lastModifiedBy":{"type":"string","example":"string"},"lastModifiedDate":{"type":"string","example":"2022-06-27T10:56:00.265Z"},"numberOfVersions":{"type":"integer","example":0,"default":0},"promoted":{"type":"boolean","example":true,"default":true},"releaseStream":{"type":"string","example":"QA"},"releaseType":{"type":"string","example":"HOTFIX"},"versioningKey":{"type":"string","example":"string"}}}}}},"changesApplied":{"type":"array","items":{"type":"object","properties":{"resourceKey":{"type":"string","example":"string"},"resourcePath":{"type":"string","example":"string"},"type":{"type":"string","example":"Destruction"}}}},"codebuildId":{"type":"string","example":"string"},"createdOn":{"type":"string","example":"2022-06-27T10:56:00.265Z"},"deploymentContextVersion":{"type":"string","example":"string"},"deploymentJobType":{"type":"string","example":"CODEBUILD"},"deploymentType":{"type":"string","example":"REGULAR"},"description":{"type":"string","example":"string"},"destroy":{"type":"boolean","example":true,"default":true},"errorLogs":{"type":"array","items":{"type":"string","example":"string"}},"finishedOn":{"type":"string","example":"2022-06-27T10:56:00.265Z"},"id":{"type":"string","example":"string"},"integrationTest":{"type":"boolean","example":true,"default":true},"overrideBuildSteps":{"type":"array","items":{"type":"string","example":"string"}},"releaseType":{"type":"string","example":"HOTFIX"},"signedOff":{"type":"boolean","example":true,"default":true},"stackVersion":{"type":"string","example":"string"},"status":{"type":"string","example":"SUCCEEDED"},"tfVersion":{"type":"string","example":"string"},"triggeredBy":{"type":"string","example":"string"},"withRefresh":{"type":"boolean","example":true,"default":true}}}}}},"201":{"description":"201","content":{"application/json":{"examples":{"Result":{"value":"{\n  Created\n}"}}}}},"401":{"description":"401","content":{"application/json":{"examples":{"Result":{"value":"{\nUnauthorized\n}"}}}}},"403":{"description":"403","content":{"text/plain":{"examples":{"Result":{"value":""}}}}},"404":{"description":"404","content":{"text/plain":{"examples":{"Result":{"value":""}}}}}},"deprecated":false}},"/cc-ui/v1/clusters/{clusterID}/deployments/recipes/deployment/hotfix":{"post":{"summary":"Trigger a Selective release","description":"","operationId":"trigger-a-hotfix-release","parameters":[{"name":"clusterID","in":"path","schema":{"type":"string"},"required":true}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"resourceList":{"type":"array","items":{"properties":{"resourceName":{"type":"string","description":"Use the name of the application as defined under application/instance path."},"resourceType":{"type":"string","description":"The only allowed value here is \"application\".","default":"application"}},"required":["resourceName","resourceType"],"type":"object"}}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"appDeployments\": [\n    {\n      \"appName\": \"string\",\n      \"artifact\": {\n        \"applicationName\": \"string\",\n        \"artifactUri\": \"string\",\n        \"artifactory\": \"string\",\n        \"buildDescription\": \"string\",\n        \"buildId\": \"string\",\n        \"clusterId\": \"string\",\n        \"createdBy\": \"string\",\n        \"createdOn\": \"2022-06-30T05:20:25.347Z\",\n        \"creationDate\": \"2022-06-30T05:20:25.347Z\",\n        \"id\": \"string\",\n        \"lastModifiedBy\": \"string\",\n        \"lastModifiedDate\": \"2022-06-30T05:20:25.347Z\",\n        \"numberOfVersions\": 0,\n        \"promoted\": true,\n        \"releaseStream\": \"QA\",\n        \"releaseType\": \"HOTFIX\",\n        \"versioningKey\": \"string\"\n      }\n    }\n  ],\n  \"changesApplied\": [\n    {\n      \"resourceKey\": \"string\",\n      \"resourcePath\": \"string\",\n      \"type\": \"Destruction\"\n    }\n  ],\n  \"codebuildId\": \"string\",\n  \"createdOn\": \"2022-06-30T05:20:25.347Z\",\n  \"deploymentContextVersion\": \"string\",\n  \"deploymentJobType\": \"CODEBUILD\",\n  \"deploymentType\": \"REGULAR\",\n  \"description\": \"string\",\n  \"destroy\": true,\n  \"errorLogs\": [\n    \"string\"\n  ],\n  \"finishedOn\": \"2022-06-30T05:20:25.347Z\",\n  \"id\": \"string\",\n  \"integrationTest\": true,\n  \"overrideBuildSteps\": [\n    \"string\"\n  ],\n  \"releaseType\": \"HOTFIX\",\n  \"signedOff\": true,\n  \"stackVersion\": \"string\",\n  \"status\": \"SUCCEEDED\",\n  \"statusDeprecated\": \"SUCCEEDED\",\n  \"tfVersion\": \"string\",\n  \"triggeredBy\": \"string\",\n  \"validationResult\": {\n    \"errors\": [\n      {\n        \"error\": \"string\",\n        \"filename\": \"string\"\n      }\n    ],\n    \"valid\": true\n  },\n  \"withRefresh\": true\n}"}},"schema":{"type":"object","properties":{"appDeployments":{"type":"array","items":{"type":"object","properties":{"appName":{"type":"string","example":"string"},"artifact":{"type":"object","properties":{"applicationName":{"type":"string","example":"string"},"artifactUri":{"type":"string","example":"string"},"artifactory":{"type":"string","example":"string"},"buildDescription":{"type":"string","example":"string"},"buildId":{"type":"string","example":"string"},"clusterId":{"type":"string","example":"string"},"createdBy":{"type":"string","example":"string"},"createdOn":{"type":"string","example":"2022-06-30T05:20:25.347Z"},"creationDate":{"type":"string","example":"2022-06-30T05:20:25.347Z"},"id":{"type":"string","example":"string"},"lastModifiedBy":{"type":"string","example":"string"},"lastModifiedDate":{"type":"string","example":"2022-06-30T05:20:25.347Z"},"numberOfVersions":{"type":"integer","example":0,"default":0},"promoted":{"type":"boolean","example":true,"default":true},"releaseStream":{"type":"string","example":"QA"},"releaseType":{"type":"string","example":"HOTFIX"},"versioningKey":{"type":"string","example":"string"}}}}}},"changesApplied":{"type":"array","items":{"type":"object","properties":{"resourceKey":{"type":"string","example":"string"},"resourcePath":{"type":"string","example":"string"},"type":{"type":"string","example":"Destruction"}}}},"codebuildId":{"type":"string","example":"string"},"createdOn":{"type":"string","example":"2022-06-30T05:20:25.347Z"},"deploymentContextVersion":{"type":"string","example":"string"},"deploymentJobType":{"type":"string","example":"CODEBUILD"},"deploymentType":{"type":"string","example":"REGULAR"},"description":{"type":"string","example":"string"},"destroy":{"type":"boolean","example":true,"default":true},"errorLogs":{"type":"array","items":{"type":"string","example":"string"}},"finishedOn":{"type":"string","example":"2022-06-30T05:20:25.347Z"},"id":{"type":"string","example":"string"},"integrationTest":{"type":"boolean","example":true,"default":true},"overrideBuildSteps":{"type":"array","items":{"type":"string","example":"string"}},"releaseType":{"type":"string","example":"HOTFIX"},"signedOff":{"type":"boolean","example":true,"default":true},"stackVersion":{"type":"string","example":"string"},"status":{"type":"string","example":"SUCCEEDED"},"statusDeprecated":{"type":"string","example":"SUCCEEDED"},"tfVersion":{"type":"string","example":"string"},"triggeredBy":{"type":"string","example":"string"},"validationResult":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"object","properties":{"error":{"type":"string","example":"string"},"filename":{"type":"string","example":"string"}}}},"valid":{"type":"boolean","example":true,"default":true}}},"withRefresh":{"type":"boolean","example":true,"default":true}}}}}},"201":{"description":"201","content":{"application/json":{"examples":{"Result":{"value":"{\"Created\"}"}}}}},"401":{"description":"401","content":{"text/plain":{"examples":{"Result":{"value":""}}}}},"403":{"description":"403","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"message\": \"A deployment is already in progress\",\n  \"code\": \"403\"\n}"}},"schema":{"type":"object","properties":{"message":{"type":"string","example":"A deployment is already in progress"},"code":{"type":"string","example":"403"}}}}}},"404":{"description":"404","content":{"text/plain":{"examples":{"Result":{"value":""}}}}}},"deprecated":false}},"/cc-ui/v1/clusters/{clusterId}/resourceType/{resourceType}/resourceName/{resourceName}/overrides":{"post":{"summary":"Override Resource Definition in an Environment","description":"","operationId":"override-resource-defintion-in-an-environment","parameters":[{"name":"clusterID","in":"path","schema":{"type":"string","default":"clusterID"},"required":true},{"name":"resourceType","in":"path","schema":{"type":"string","default":"resourceType"},"required":true},{"name":"resourceName","in":"path","schema":{"type":"string","default":"resourceName"},"required":true}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"overrides":{"type":"string","default":"{    \"key1\": \"value1\", \"key2\": \"value2\" }","format":"json"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/cc-ui/v1/clusters/{clusterId}/resourceType/{resourceType}/resourceName/{resourceName}/overrides/clone":{"post":{"summary":"Override Resource Definition in an Environment - clone","description":"","operationId":"override-resource-definition-in-an-environment-clone","parameters":[{"name":"clusterID","in":"path","schema":{"type":"string","default":"clusterID"},"required":true},{"name":"resourceType","in":"path","schema":{"type":"string","default":"resourceType"},"required":true},{"name":"resourceName","in":"path","schema":{"type":"string","default":"resourceName"},"required":true}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"overrides":{"type":"string","default":"{    \"key1\": \"value1\", \"key2\": \"value2\" }","format":"json"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/cc-ui/v1/artifacts/cluster/{clusterId}/resourceType/{resourceType}/resourceName/{resourceName}":{"get":{"summary":"Get Versioning Key for a Resource","description":"getArtifactsByResourceNameAndResourceType","operationId":"get-versioning-key","parameters":[{"name":"clusterId","in":"path","schema":{"type":"string"},"required":true},{"name":"resourceType","in":"path","schema":{"type":"string"},"required":true},{"name":"resourceName","in":"path","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"applicationName\": \"string\",\n  \"artifactUri\": \"string\",\n  \"artifactory\": \"string\",\n  \"buildDescription\": \"string\",\n  \"buildId\": \"string\",\n  \"clusterId\": \"string\",\n  \"createdBy\": \"string\",\n  \"createdOn\": \"2022-11-15T07:42:14.802Z\",\n  \"creationDate\": \"2022-11-15T07:42:14.802Z\",\n  \"id\": \"string\",\n  \"lastModifiedBy\": \"string\",\n  \"lastModifiedDate\": \"2022-11-15T07:42:14.802Z\",\n  \"numberOfVersions\": 0,\n  \"promoted\": true,\n  \"registrationType\": \"ENVIRONMENT\",\n  \"releaseStream\": \"QA\",\n  \"releaseType\": \"HOTFIX\",\n  \"versioningKey\": \"string\"\n}"}},"schema":{"type":"object","properties":{"applicationName":{"type":"string","example":"string"},"artifactUri":{"type":"string","example":"string"},"artifactory":{"type":"string","example":"string"},"buildDescription":{"type":"string","example":"string"},"buildId":{"type":"string","example":"string"},"clusterId":{"type":"string","example":"string"},"createdBy":{"type":"string","example":"string"},"createdOn":{"type":"string","example":"2022-11-15T07:42:14.802Z"},"creationDate":{"type":"string","example":"2022-11-15T07:42:14.802Z"},"id":{"type":"string","example":"string"},"lastModifiedBy":{"type":"string","example":"string"},"lastModifiedDate":{"type":"string","example":"2022-11-15T07:42:14.802Z"},"numberOfVersions":{"type":"integer","example":0,"default":0},"promoted":{"type":"boolean","example":true,"default":true},"registrationType":{"type":"string","example":"ENVIRONMENT"},"releaseStream":{"type":"string","example":"QA"},"releaseType":{"type":"string","example":"HOTFIX"},"versioningKey":{"type":"string","example":"string"}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"401":{"description":"401","content":{"text/plain":{"examples":{"Result":{"value":"Unauthorized"}}}}},"403":{"description":"403","content":{"text/plain":{"examples":{"Result":{"value":"Forbidden"}}}}},"404":{"description":"404","content":{"text/plain":{"examples":{"Result":{"value":"Not Found"}}}}}},"deprecated":false}},"/cc-ui/v1/versions/{versioningKey}":{"get":{"summary":"Get list of \"N\" versions","description":"getVersions","operationId":"get-list-of-n-artifacts","parameters":[{"name":"versioningKey","in":"path","schema":{"type":"string"},"required":true},{"name":"perPage","in":"query","schema":{"type":"integer","format":"int32","default":5}},{"name":"page","in":"query","schema":{"type":"integer","format":"int32","default":0}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/cc-ui/v1/versions/{versionId}/restore":{"post":{"summary":"Trigger rollback to a previous version","description":"restore","operationId":"trigger-rollback-for-an-artifact","parameters":[{"name":"versionId","in":"path","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/cc-ui/v1/designer/{stackName}/{branch}/create-branch":{"post":{"summary":"Create a New Branch","description":"","operationId":"create-a-new-branch","parameters":[{"name":"stackName","in":"path","schema":{"type":"string"},"required":true},{"name":"branch","in":"path","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/cc-ui/v1/designer/{stackName}/{branchName}/files":{"get":{"summary":"Get Blueprint Resources","description":"","operationId":"get-blueprint-resources","parameters":[{"name":"stackName","in":"path","schema":{"type":"string"},"required":true},{"name":"branchName","in":"path","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/cc-ui/v1/designer/{stackName}/branch/{branch}":{"post":{"summary":"Create a New Resource","description":"","operationId":"create-a-new-resource","parameters":[{"name":"stackName","in":"path","schema":{"type":"string"},"required":true},{"name":"branch","in":"path","schema":{"type":"string"},"required":true}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"RAW_BODY":{"type":"string","default":"[   {          \"resourceName\": \"string\",     \"resourceType\": \"string\"   } ]"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false},"put":{"summary":"Update a Resource","description":"","operationId":"update-a-resource","responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/cc-ui/v1/artifact-routing-rule/{ruleId}":{"get":{"summary":"Get Artifact Routing Rule","description":"getArtifactRoutingRuleUsingGET","operationId":"get-artifact-routing-rule","parameters":[{"name":"ruleId","in":"path","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/cc-ui/v1/artifact-routing-rule":{"put":{"summary":"Update Artifact Routing Rule","description":"","operationId":"update-artifact-routing-rule","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"artifactRoutingRuleRequest":{"type":"string","default":"{   \"criteria\": [     {       \"metadataKey\": \"string\",       \"operator\": \"EQUALS\",       \"priority\": 0,       \"routeTo\": \"string\",       \"value\": \"string\"     }   ],   \"id\": \"string\",   \"isDefault\": true,   \"registrationType\": \"ENVIRONMENT\",   \"ruleName\": \"string\",   \"stackName\": \"string\" }","format":"json"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/cc-ui/v1/clusters/{clusterId}/resource-enable-disable":{"put":{"summary":"Enable/Disable Resources in an Environment","description":"","operationId":"enabledisable-resources-in-an-environment","parameters":[{"name":"clusterId","in":"path","schema":{"type":"string"},"required":true}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"RAW_BODY":{"type":"string","default":"[     {       \"disabled\": true,       \"resourceName\": \"string\",       \"resourceType\": \"string\"     }   ]"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/cc-ui/v1/designer/{stackName}/resource-enable-disable":{"put":{"summary":"Enable/Disable Resources in a Blueprint","description":"","operationId":"enabledisable-resources-in-a-blueprint","parameters":[{"name":"stackName","in":"path","schema":{"type":"string"},"required":true}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"RAW_BODY":{"type":"string","default":"[   {     \"directory\": \"string\",     \"disabled\": true,     \"filename\": \"string\",     \"resourceName\": \"string\",     \"resourceType\": \"string\"   } ]"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}}},"x-readme":{"headers":[],"explorer-enabled":true,"proxy-enabled":false},"x-readme-fauxas":true}